.reserve-ininfomation-box {
    position: relative;
    width: 100%;
    height: 375px;
    background: url(https://img.megabox.co.kr/static/pc/images/reserve/bg-reserve-finish-top.png) no-repeat
}

.reserve-ininfomation-box:after {
    display: block;
    content: '';
    clear: both
}

.reserve-ininfomation-box p {
    padding: 0;
    margin: 0
}

.reserve-ininfomation-box .movie-poster-area {
    float: left;
    padding: 40px 0;
    width: 270px;
    height: 375px;
    text-align: center
}

.reserve-ininfomation-box .movie-poster-area p {
    color: #c4c4c4;
    margin: 0 0 20px 0
}

.reserve-ininfomation-box .movie-poster-area p span {
    display: block;
    color: #55b0ba;
    font-size: 1.3333em;
    font-weight: 700
}

.reserve-ininfomation-box .movie-poster-area img {
    width: 150px!important;
    height: 216px!important
}

.reserve-ininfomation-box .movie-infomation-area {
    float: left;
    padding: 20px 60px;
    width: 830px;
    height: 375px;
    color: #c4c4c4
}

.reserve-ininfomation-box .movie-infomation-area .movie-info-top p.tit {
    display: block;
    margin: 0
}

.reserve-ininfomation-box .movie-infomation-area .movie-info-top p.tit strong {
    color: #55b0ba;
    font-size: 1.6em
}

.reserve-ininfomation-box .movie-infomation-area .movie-info-top p.tit span.righten {
    float: right;
    line-height: 36px
}

.reserve-ininfomation-box .movie-infomation-area .movie-info-top p.tit span.righten em {
    color: #59bec9
}

.reserve-ininfomation-box .movie-infomation-area .movie-info-middle {
    display: block;
    margin: 10px 0;
    padding: 20px 0 15px 0;
    width: 100%;
    overflow: hidden;
    border: 1px solid #434343;
    border-width: 1px 0 1px 0
}

.reserve-ininfomation-box .movie-infomation-area .movie-info-middle .dot-list li {
    position: relative;
    padding-left: 130px;
    color: #fff
}

.reserve-ininfomation-box .movie-infomation-area .movie-info-middle .dot-list li span {
    position: absolute;
    left: 10px;
    width: 120px;
    color: #c4c4c4
}

.reserve-ininfomation-box .movie-infomation-area .movie-info-middle .dot-list li strong {
    font-size: 1.2em;
    color: #59bec9
}

.reserve-ininfomation-box .movie-infomation-area .movie-info-middle .dot-list li em {
    font-size: .8667em;
    color: #c4c4c4
}

.reserve-ininfomation-box .movie-infomation-area .movie-info-middle .inner-banner {
    position: absolute;
    top: 90px;
    right: 30px;
    z-index: 2
}

.reserve-ininfomation-box .movie-infomation-area .movie-info-middle .inner-banner .img-area a {
    display: block;
    font-size: 0;
    line-height: 0
}

.reserve-ininfomation-box .movie-infomation-area .movie-info-middle .inner-banner .img-area a img {
    display: block;
    width: 184px;
    height: 156px
}

.reserve-ininfomation-box .movie-infomation-area .movie-info-middle .inner-banner button {
    position: absolute;
    right: 25px;
    top: 5px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent
}

.reserve-ininfomation-box .movie-infomation-area .movie-info-bottom {
    width: 100%;
    height: 32px;
    line-height: 32px
}

.reserve-ininfomation-box .movie-infomation-area .movie-info-bottom .add-send {
    display: inline-block
}

.reserve-ininfomation-box .movie-infomation-area .movie-info-bottom .add-send button {
    width: 54px;
    padding: 0;
    margin: 0 0 0 10px;
    border: 1px solid #888;
    background: 0 0;
    color: #fff
}

.reserve-ininfomation-box .movie-infomation-area .movie-info-bottom .point-save {
    position: relative;
    display: inline-block;
    margin: 0 0 0 20px;
    padding: 0 0 0 20px
}

.reserve-ininfomation-box .movie-infomation-area .movie-info-bottom .point-save:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 1px;
    height: 32px;
    background-color: #434343
}

.reserve-ininfomation-box .movie-infomation-area .movie-info-bottom .point-save a.button {
    width: 112px;
    padding: 0;
    margin: 0 0 0 10px;
    border: 1px solid #888;
    background: 0 0;
    color: #fff
}