<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.itwillbs.cinepick.mapper.MovieMapper">
<!-- ==========관리자 영화정보관리========== -->

	<!-- 영화등록 -->
	<insert id="insertMovie">
		INSERT INTO movie
		VALUES(
			#{movie_code}
			,#{movie_nameK}
			,#{movie_nameE}
			,#{movie_openDt} 
			,#{movie_status}
			,#{movie_runtime}
			,#{movie_genre}
			,#{movie_rated}
			,#{movie_director}
			,#{movie_actor}
			,#{movie_plot}
			,#{movie_poster}
			,#{movie_still}
		)
	</insert>
	
	<select id="checkedMovie" resultType="int">
		SELECT COUNT(*)
		FROM movie
		WHERE movie_code = #{movie_code}
	</select>
	
	
	
	<!-- 영화목록출력 -->
	<!-- select 전에 날짜 비교해서 해당날짜부터는 개봉으로 update 해야함 -->
	<select id="selectMovieList" resultType="Movie">
		SELECT *
		FROM movie
	</select>
	
	<!-- 영화상세보기 -->
	<select id="selectMvDetail" resultType="Movie">
		SELECT *
		FROM movie
		WHERE movie_code = #{movie_code}
	</select>
	
	<!-- 영화수정 -->	
	<update id="modifyMovie">
		UPDATE movie
		SET movie_nameK = #{movie_nameK}
			,movie_nameE = #{movie_nameE}
			,movie_openDt = #{movie_openDt}
			,movie_status = #{movie_status}
			,movie_runtime = #{movie_runtime}
			,movie_genre = #{movie_genre}
			,movie_rated = #{movie_rated}
			,movie_director = #{movie_director}
			,movie_actor = #{movie_actor}
			,movie_plot = #{movie_plot}
			,movie_poster = #{movie_poster}
			,movie_still = #{movie_still}
		WHERE movie_code = #{movie_code}	
			 
	</update>	
	
	<!-- 영화삭제 -->	
	<delete id="deleteMovie">
		DELETE FROM movie
		WHERE movie_code = #{movie_code}
	</delete>
	
	
	
<!-- =================관리자 박스오피스===============  -->	

	<insert id="insertBoxoffice" parameterType="java.util.Map" >
		INSERT INTO movie_boxoffice
		VALUES(
		         #{rank}
		        , #{movieCd}
		        , #{movieNm}
		        , #{audiAcc}
		)
	
	</insert>
	
	<!-- 박스오피스삭제(목록전체삭제됨) -->
	<delete id="deleteBoxoffice">
		DELETE FROM movie_boxoffice
	</delete>
	
	<!-- 박스오피스목록조회 -->	
	<select id="selectBoxoffice" resultType="BoxOffice">
		SELECT *
		FROM movie_boxoffice
		ORDER BY movie_rank
	
	</select>
	
	
	

</mapper>