<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.itwillbs.cinepick.mapper.AdminMapper">
	<!-- 공지 -->
	<insert id="insertNotice">
		INSERT INTO notice
		VALUES (
			null
			, #{noticeTitle}
			, #{noticeContent}
			, now()
		)
	</insert>
	
	<select id="selectNotice" resultType="com.itwillbs.cinepick.vo.NoticeVO">
        SELECT
			noticeIdx
			, noticeTitle
			, noticeContent
			, noticeWriteDate
		FROM notice
		<if test="noticeIdx != null and !noticeIdx.equals('')">
		WHERE noticeIdx = #{noticeIdx }
		</if>
    </select>
    
    <delete id="deleteNotice">
    	DELETE FROM notice
    	WHERE noticeIdx = #{noticeIdx };
    </delete>
    
    <update id="updateNotice">
    	UPDATE notice
    	SET 
    		noticeTitle = #{noticeTitle }
    		, noticeContent = #{noticeContent }
    	WHERE noticeIdx = #{noticeIdx };
    </update>
    <!-- 공지 끝 -->
    
    <!-- 자주 묻는 질문 -->
  	<insert id="insertQna">
		INSERT INTO qna
		VALUES (
			null
			, #{qnaTitle}
			, #{qnaContent}
			, #{qnaCategory}
		)
	</insert>

	<select id="selectQna" resultType="com.itwillbs.cinepick.vo.QnaVO">
		SELECT
			q.qnaIdx
			, q.qnaTitle
			, q.qnaContent
			, q.qnaCategory
			, c.qnaCateSubject 
		FROM
			qna q JOIN qnaCate c
			ON q.qnaCategory = c.qnaCateIdx
		<if test="qnaIdx != null and !qnaIdx.equals('')">
		WHERE q.qnaIdx = #{qnaIdx}
		</if>
    </select>
    
    <update id="updateQna">
    	UPDATE qna
    	SET
    		qnaTitle = #{qnaTitle}
			, qnaContent = #{qnaContent}
			, qnaCategory = #{qnaCategory}
		WHERE qnaIdx = #{qnaIdx}
    </update>
    <!-- 자주 묻는 질문 끝 -->

    <!-- 자주 묻는 질문 카테고리 -->
    <insert id="insertCategory">
		INSERT INTO qnaCate
		VALUES (
			null
			, #{qnaCateSubject}
		)
	</insert>

	<select id="selectCategory" resultType="com.itwillbs.cinepick.vo.QnaCateVO">
          SELECT 
          	qnaCateIdx 
          	, qnaCateSubject
          FROM qnaCate;
    </select>
    
    <delete id="deleteCategory">
    	DELETE FROM qnaCate
    	WHERE qnaCateIdx = #{qnaCateIdx}
    </delete>
    <!-- 자주 묻는 질문 카테고리 끝 -->
</mapper>