<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.itwillbs.cinepick.mapper.BookingMapper">
	<!-- step1 -->
	<select id="selectValidCity" resultType="Theater">
		SELECT
			CONCAT(c.city_name, "(", count(DISTINCT t.theater_idx) , ")") AS city_name
			, c.city_idx
		FROM
			schedule s JOIN theater t 
			ON s.sche_theater_idx = t.theater_idx
			JOIN city c 
			ON t.city_idx = c.city_idx
		WHERE
			s.sche_movie_code = #{movie_code}
			AND CONCAT(s.sche_date, " ", s.sche_end_time) > now()
			<![CDATA[
			AND CONCAT(s.sche_date, " ", s.sche_end_time) <= date_add(now(),INTERVAL 1 MONTH)
			]]>
		GROUP BY 
			c.city_name
			, c.city_idx
	</select>
	
	<select id="selectValidTheater" resultType="Theater">
		SELECT
			t.theater_name
			, t.theater_idx
		FROM
			schedule s JOIN theater t 
			ON s.sche_theater_idx = t.theater_idx
			JOIN city c 
			ON t.city_idx = c.city_idx 
		WHERE
			s.sche_movie_code = #{movie_code}
			AND c.city_idx = #{city_idx}
			AND CONCAT(s.sche_date, " ", s.sche_end_time) > now()
			<![CDATA[
			AND CONCAT(s.sche_date, " ", s.sche_end_time) <= date_add(now(),INTERVAL 1 MONTH)
			]]>
		GROUP BY
			t.theater_name
			, t.theater_idx
	</select>
	
	<select id="selectValidDate" resultType="ScheduleVO">
		SELECT DISTINCT sche_date 
		FROM schedule
		WHERE 
			sche_movie_code = #{movie_code}
			AND sche_theater_idx = #{theater_idx}
			AND CONCAT(sche_date, " ", sche_end_time) > now()
			<![CDATA[
			AND CONCAT(sche_date, " ", sche_end_time) <= date_add(now(),INTERVAL 1 MONTH)
			]]>
		ORDER BY sche_date
		LIMIT 15
	</select>
	
	<select id="selectValidTime" resultType="ScheduleVO">
		SELECT 
			s.sche_idx 
			, s.sche_start_time
			, sc.screen_name 
		FROM schedule s JOIN screen sc
			ON s.sche_screen_idx = sc.screen_idx
		WHERE s.sche_movie_code = #{movie_code}
				AND s.sche_theater_idx = #{theater_idx}
				AND s.sche_date = #{date}
				AND CONCAT(s.sche_date, " ", s.sche_end_time) > now()
				<![CDATA[
				AND CONCAT(s.sche_date, " ", s.sche_end_time) <= date_add(now(),INTERVAL 1 MONTH)
				]]>
		ORDER BY 
			s.sche_screen_idx
			, s.sche_start_time
	</select>
	
	<select id="selectMovie" resultType="Movie">
		SELECT 
			movie_nameK
			, movie_poster
		FROM movie
		WHERE movie_code = ${movie_code}
	</select>
	
	<select id="selectMovies" resultType="Movie">
		SELECT DISTINCT movie_nameK
				, movie_code
				, movie_rated
		FROM movie m JOIN schedule s 
		ON s.sche_movie_code = m.movie_code
		WHERE 
			CONCAT(s.sche_date, " ", s.sche_end_time) >= now()
			<![CDATA[
			AND CONCAT(s.sche_date, " ", s.sche_end_time) <= date_add(now(),INTERVAL 1 MONTH)
			]]>
		ORDER BY movie_nameK
	</select>
	<!-- step1 끝 -->
</mapper>