<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.itwillbs.cinepick.mapper.EventMapper">
    
	<select id= "selectEventList" resultType="Event">
		-- selectEventList
		<![CDATA[
		SELECT *
			FROM (SELECT e.event_idx 
						, e.event_title
						, e.event_startDt
						, e.event_endDt
						, e.event_poster
						, e.event_thumbnail
						, e.event_category
						, ec.eventCate_Subject
						, RANK() OVER(PARTITION BY event_category ORDER BY event_startDt, event_idx DESC) as rk
					FROM event e 
					JOIN eventCate ec 
					  ON e.event_category = ec.eventCate_Idx
				   ORDER BY ec.eventCate_Idx) A
			WHERE rk <= 3
		
		]]>
	</select>

<!--    	이벤트 카테고리 전체 조회 -->
	<select id="selectEventCateList" resultType="EventCate">
		-- selectEventCateList
		SELECT 
			eventCate_Idx
			, eventCate_Subject
		FROM eventCate
		ORDER BY eventCate_Idx
	</select>
	
	<select id="selectEvent" resultType="Event">
		-- selectEvent
		SELECT 
			*
		FROM event
		WHERE event_idx = #{event_idx}
	</select>
    
    
   	<!-- 영화 이벤트 목록 조회 -->
	<select id= "selectEventDetailList" resultType="Event">
		-- selectEventDetailList
		SELECT
			e.event_idx 
			, e.event_title
			, e.event_startDt
			, e.event_endDt
			, e.event_poster
			, e.event_thumbnail
			, e.event_category
			, ec.eventCate_Subject
		FROM 
			event e JOIN eventCate ec 
			ON e.event_category = ec.eventCate_Idx
		<if test="eventCate_Idx != -1">
		WHERE eventCate_Idx = #{eventCate_Idx}
		</if>
		LIMIT
			#{startRow}
			, #{listLimit}
	</select>
	
	<!-- 영화 이벤트 목록 수 조회 -->
	<select id= "selectMovieEventListCount">
		-- selectMovieEventListCount
		SELECT COUNT(*)
		FROM 
			event e JOIN eventCate ec 
			ON e.event_category = ec.eventCate_Idx
		<if test="eventCate_Idx != -1">
		WHERE eventCate_Idx = #{eventCate_Idx}
		</if>
	</select>
    <!-- 이벤트 끝 -->
    
    
    <!-- 극장 이벤트 출력 -->
    
    <select id="selectTheaterEventList" resultType="Event">
    <![CDATA[
		SELECT *
			FROM (SELECT e.event_idx 
						, e.event_title
						, e.event_startDt
						, e.event_endDt
						, e.event_poster
						, e.event_thumbnail
						, e.event_category
						, ec.eventCate_Subject
						, RANK() OVER(PARTITION BY event_category ORDER BY event_startDt, event_idx DESC) as rk
					FROM event e 
					JOIN eventCate ec 
					  ON e.event_category = ec.eventCate_Idx
				   ORDER BY ec.eventCate_Idx) A
			WHERE rk <= 3 AND event_category = 5
		
		]]>
    </select>
    
    
    
</mapper>