<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.itwillbs.cinepick.mapper.LikeMovieMapper">
	
	<insert id="insertLikeBtn">
		INSERT INTO like_movie
		VALUES (
			NULL
			, #{movie_code}
			, #{user_id}
		)
		
	</insert>
	
	<delete id="deleteLikeBtn">
		DELETE FROM like_movie
		WHERE user_id = #{user_id} AND movie_code = #{movie_code}
	</delete>
	
	<select id="selectLikeMovie" resultType="Like">
		SELECT COUNT(IFNULL(like_num,0)) AS like_count
		FROM user u LEFT JOIN (SELECT user_id, like_num, movie_code
								FROM like_movie
								WHERE movie_code = #{movie_code}) l
		ON u.user_id = l.user_id
		WHERE u.user_id = #{user_id} AND l.movie_code = #{movie_code}
	</select>




</mapper>