<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.cinepick.mapper.MainMapper">
	
	<select id="mainMovieList" resultType="Movie">
		SELECT m.movie_code 
				, m.movie_nameK 
				, m.movie_rated 
				, SUBSTRING_INDEX(movie_poster,'|',1) movie_poster
				, IFNULL(movie_rank,11) movie_rank
		FROM movie m LEFT JOIN movie_boxoffice mb 
		ON m.movie_code = mb.movie_code 
		ORDER BY movie_rank
	</select>
	
	
</mapper>    