<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.itwillbs.cinepick.mapper.ReviewMapper">
<!-- ========== 리뷰정보관리========== -->

	<!-- 리뷰등록 -->
	<insert id="reviewInsert">
		INSERT INTO review
		VALUES (
			NULL
			, #{review_rating}
			, #{review_content}
			, now()
			, #{movie_code}
			, #{user_id}
		)
	</insert>
	
	<!-- 리뷰 select -->
	<select id="selectReviewList" resultType="Review">
		SELECT *
		FROM review
		WHERE movie_code = #{movie_code}
		ORDER BY review_num DESC
		LIMIT #{startRow}
			, #{listLimit}
	</select>
	
	<!-- 리뷰 count -->
	<select id="countReviewList" resultType="int">
		SELECT COUNT(review_rating)
		FROM movie m LEFT OUTER JOIN review r
		ON m.movie_code = r.movie_code
		WHERE m.movie_code = #{movie_code}
		GROUP BY m.movie_code
	</select>
	
	<!-- 리뷰 delete -->
	<delete id="reviewDelete">
		DELETE FROM review 
		WHERE user_id = #{user_id} 
			AND movie_code = #{movie_code}
			AND review_num = #{review_num}
	</delete>
	
	<update id="reviewUpdate" parameterType="map">
		UPDATE review
		SET review_rating = #{review_rating1}
			, review_content = #{review_content}
			, review_date = now()
		WHERE review_num = #{review_num}
			AND user_id = #{user_id}
			AND movie_code = #{movie_code}
	</update>
	

</mapper>