<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.itwillbs.cinepick.mapper.TheaterMapper">

	<select id="selectTheater" resultType="Theater">
		SELECT *
		FROM theater
		WHERE brchNo = #{brchNo}
	
	</select>
	
	<select id="selectTheaterList" resultType="Theater">
		SELECT brchNo, theater_name, city_idx
		FROM theater
	
	</select>
	
	<select id="selectCityList" resultType="City">
		SELECT city_name, city_name_e, city_idx
		FROM city
	</select>

</mapper>