<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 마이바티스에서 접근할 사용자 정의 클래스 타입에 대한 Alias(별칭) 설정 -->
	<typeAliases>
		<typeAlias type="com.itwillbs.cinepick.vo.UserVO" alias="User"/>
		<typeAlias type="com.itwillbs.cinepick.vo.AuthInfoVO" alias="AuthInfo"/>
		<typeAlias type="com.itwillbs.cinepick.vo.NoticeVO" alias="Notice"/>
		<typeAlias type="com.itwillbs.cinepick.vo.QnaVO" alias="Qna"/>
		<typeAlias type="com.itwillbs.cinepick.vo.QnaCateVO" alias="QnaCate"/>
		<typeAlias type="com.itwillbs.cinepick.vo.MyQuestionVO" alias="MyQuestion"/>
		<typeAlias type="com.itwillbs.cinepick.vo.EventCateVO" alias="EventCate"/>
		<typeAlias type="com.itwillbs.cinepick.vo.EventVO" alias="Event"/>
		<typeAlias type="com.itwillbs.cinepick.vo.TheaterVO" alias="Theater"/>
		<typeAlias type="com.itwillbs.cinepick.vo.CityVO" alias="City"/>
		<typeAlias type="com.itwillbs.cinepick.vo.MovieVO" alias="Movie"/>
		<typeAlias type="com.itwillbs.cinepick.vo.BoxOfficeVO" alias="BoxOffice"/>
		<typeAlias type="com.itwillbs.cinepick.vo.ScreenVO" alias="Screen"/>
		<typeAlias type="com.itwillbs.cinepick.vo.ScheduleVO" alias="ScheduleVO"/>
		<typeAlias type="com.itwillbs.cinepick.vo.TicketVO" alias="Ticket"/>
		<typeAlias type="com.itwillbs.cinepick.vo.ReviewVO" alias="Review"/>
		<typeAlias type="com.itwillbs.cinepick.vo.BookVO" alias="Book"/>
		<typeAlias type="com.itwillbs.cinepick.vo.StoreVO" alias="Store"/>
		<typeAlias type="com.itwillbs.cinepick.vo.StoreCateVO" alias="StoreCate"/>
		<typeAlias type="com.itwillbs.cinepick.vo.LikeMovieVO" alias="Like"/>
		<typeAlias type="com.itwillbs.cinepick.vo.SeatVO" alias="Seat"/>
		<typeAlias type="com.itwillbs.cinepick.vo.TimeScheduleVO" alias="TimeSchedule"/>
	</typeAliases>
</configuration>
  