  	@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
	* {
    font-family: 'IBM Plex Sans KR';
   	box-sizing: border-box;
	}
	
	header {
	display: block;
	}
	
	.layer-header {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background: #503396;
	}
	
	h3.tit {
	    margin: 0;
	    padding: 0 0 16px 0;
	    font-size: 1.6em;
	    font-weight: 400;
	    color: white;
	    line-height: 1.1;
	}
	
  	.btn-close {
  		width: 0.3em;
  		height: 0.3em;
	    border: none;
		outline:none;
		box-shadow: none;
  	}
  	
  	.btn-close:focus {
	    border: none;
		outline:none;
		box-shadow: none;
  	}
  	
  	.circle {
		display: table-cell;
		background-color: #ebebeb;
		border-radius: 90px;
	    width: 90px;
    	height: 90px;
    	text-align: center;
    	vertical-align: middle;
	}
	
	.txt {
		margin: 0 auto;
	}
	
	.bg {
    overflow: visible;
    display: table;
    table-layout: fixed;
    float: left;
    width: 90px;
    height: 90px;
    margin: 0 0 0 20px;
    background: url(https://img.megabox.co.kr/static/pc/images/reserve/bg-empty-cell-circle.png) no-repeat center;
	}
	
	.form-select:focus {
	  border-color: none;
	  outline: 0;
	  box-shadow: none;
	}
	
	.area, .theater-list {
/* 		width: 15%; */
	}
	
	.choose {
		display: grid;
		grid-template-columns: 0.8fr 0.8fr 0.4fr;
		width: 100%;
		margin: 0 auto;
	}
	
/*	.theater-list {*/
/*		margin-left: 0.5em;*/
/*	}*/
	
	.ml05 {
		margin-left: 0.25em;
	}
	
	.mr05 {
		margin-right: 0.5em;
	}
	
	.mt1 {
		margin-top: 1em;
	}
	
	.theater-choice-list {
		text-align: center;
		padding: 0 0 0 45px;
	}
	
	.modal-header {
		background-color: #FFC823;
	}
	
	.btn.btn-light.ml05 {
		margin-left: 0.5em;
	}
	
	.modal.here {
	  position: fixed;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}
	
/*	.modal {*/
/*	  position: fixed;*/
/*	  top: 0;*/
/*	  bottom: 0;*/
/*	  left: 0;*/
/*	  right: 0;*/
/*	  margin: auto;*/
/*	}*/
	
	.modal-layer.on {
    	display: block;
	}
	
	.modal-layer {
	    overflow-y: scroll;
	    display: none;
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 501;
	    background-color: rgba(0,0,0,0);
	}
	
	
	body {
		width:100%;
		height:100vh;
	}